@charset "utf-8";

.top-bar {
    background-color: #cccccc;
    height: 64px;
    position: static;
    width: 100%;
}

.top-bar.black {
    background-color: #2d2d2d;
}

.top-bar.blue {
    background-color: #0072c6;
}

.top-bar.orange {
    background-color: #eb503e;
}

ul.side-links {
    border-right: 1px solid #eeeeee;
    font-weight: bold;
    height: 100%;
    margin: 0px 0px 0px 0px;
    text-align: left;
    width: 240px;
}

ul.side-links li {
    margin: 0px 0px 0px 0px;
    padding: 12px 24px 12px 24px;
}
